.has-featured-top  #page #header{
  #navbar-main {
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
      max-width: 1250px;
      width: 100%;
      margin-bottom: -6em;
      height: auto;
      background: $white;
      display: flex;
    }
  }
  #CollapsingNavbar {
    width: fit-content;
    background: #fff;
    justify-content: space-between!important;
    #block-blocksitebranding {
      padding: 0 14px;
      margin-left: -14px;
      text-align: center;
      height: 4em;
      background: $dark-blue;
      .text-formatted p{
        @include text(20px, $weight-medium, 22px, $letter-sp-small);
        @include colors($transparent, $light-blue);
        margin-bottom: 0;
        margin-top: .6em;
      }
      .field--name-field-footer-subtitle {
        @include text(10px, $weight-light, 16px, $letter-sp-small);
        @include colors($transparent, $grey-light);
      }
    }
    .block-menu {
      background: $white;
      padding: 0 10px;
      display: flex;
      justify-content: space-evenly!important;
      .navbar-nav .nav-item{
        a {
          @include text(12px, $weight-light, 1.3em, $letter-sp-small);
          @include colors($transparent, $dark-blue);
          text-transform: uppercase;
        }
      }
    }
    #block-blocksocials {
      padding: 0 10px;
      .social-media-links--platforms {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
        li {
          margin: 0 8px 0 0;
          &:last-child {
            margin-right: 0;
          }
          a {
            padding: 10px 5px 4px;
            @include text(8px, none, normal, normal);
            @include colors($light-blue, $white);
            margin: 0;
          }
        }
      }
    }
  }
  #block-exam-search {
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: $transparent;
    margin-top: .4em;
    .form-group {
      padding: 0 0;
      margin-bottom: 0;
      input, button {
        border: 1px solid $grey;
        @include colors($transparent, $grey);
        border-radius: 0;
      }
      input {
        width: 13em;
      }
      button {
        font-size: 0;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1.125rem;
        border-left: none;
      }
    }
  }
}
